@import '../../styles/colors';
@import '../../styles/typography';
@import '../../styles/grid';

.navigation {
  
  &__inner {
    @extend %container;
    padding-top:1rem;
    align-content: center;
    align-items: center;
    @media screen and (min-width: $medium-screen) {
      display: flex;
      padding-bottom:1rem;
    }
  }
  
  & .logo{
    margin-right: 2rem;
    @media screen and (max-width: $medium-screen) {
      margin-right: 0;
      margin-bottom: .5rem;
      text-align: center;
    }
  }
};
